/**
 *
 * @copyright  2013-2014 izend.org
 * @version    20
 * @link       http://www.izend.org
 */
 
/* media.css */

@media screen and (min-width:1200px) {
#shareline {position:absolute !important;top:-9999px !important;left:-9999px !important;}
}

@media screen and (max-width:1199px) {
#sharebar {position:absolute !important;top:-9999px !important;left:-9999px !important;}
}

@media screen and (max-width:960px) {
#banner, #content, #footer {padding-left:5px;padding-right:5px;}
}

@media screen and (max-width:640px) {
div.row > * {display:block;margin:1em 0;}
div.bytwo > *, div.bythree > *, div.byfour > * {width:100%;}
}

@media screen and (max-width:480px) {
audio, video {max-width:100%;}
video {height:auto;}
#logo {float:none;width:100%;}
#logo h1 a {width:100%;}
#bannermenu {float:right;margin-top:0;}
#banner #searchinput {float:left;margin-top:0;margin-left:0;}
#sidebar {width:100%;float:none;margin-left:0;margin-bottom:1em;}
#sidebar #searchinput {max-width:100%;margin-left:0;margin-right:auto;}
#sidebar #headline {text-align:left;}
#sidebar #donate {float:none;}
#sidebar .hidy {margin-left:4px;}
#sidebar .cloud li .btn_index {float:right;margin-left:6px;margin-right:0;}
#summary {width:200px;display:inline-block;text-align:left;}
#linkbar a {display:block;margin:1em 0;}
#linkbar a span {margin:0;}
.left, .right, .vignette {max-width:50%;}
.tagbar .tagmore {margin-left:0;}
#footer .languages {float:none;margin-left:0;}
#footer p {display:block;margin:1em 0;}
#content {min-height:100%;}
}

@media screen and (max-width:360px) {
#footer .languages {float:none;margin-left:0;}
#sidebar .cloud {display:none;}
#comments .signature {float:none;}
.bbcodebar_limiter {margin-left:0;}
.bbcodehelp {display:none;}
.left, .right, .vignette {float:none;display:block;max-width:100%;}
.left, .right, .vignette {margin:1em 0 !important;}
.blogsummarytitle .date {float:none;}
#footermenu {display:block;}
#footermenu > .bullet:first-child {display:none;}
}

@media screen and (max-width:320px) {
#banner #searchinput {clear:left;}
#bannermenu {float:left;}
#footer #socialbar a {margin:0;}
#footer #socialbar {float:none;margin:0;}
}

@media screen and (max-width:240px) {
#sitename {font-size:24px;}
#sitedomain {font-size:18px;}
#summary {border:none;padding:0;border-radius:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
.summary {float:none;border:none;margin:1em 0;padding:0;text-align:left;border-radius:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
}

@media screen and (max-width:220px) {
#socialbar, #searchinput {display:none;}
}
