/**
 *
 * @copyright  2013 izend.org
 * @version    4
 * @link       http://www.izend.org
 */
 
/* media.css */

@media screen and (max-width:1024px) {
body {width:100%;margin-left:auto;margin-right:auto;}
}

@media screen and (max-width:960px) {
#banner, #content, #footer {padding-left:5px;padding-right:5px;}
}

@media screen and (max-width:640px) {
#logo {float:none;width:100%;}
#logo h1 a {width:100%;}
div.row > * {display:block;margin:1em 0;}
div.bytwo > *, div.bythree > *, div.byfour > * {width:100%;}
}

@media screen and (max-width:480px) {
audio, video {max-width:100%;}
video {height:auto;}
#content {min-height:100%;}
#bannercontrols {margin-left:20px;}
}

@media screen and (max-width:320px) {
#bannermenu {width:100%;}
#banner #searchinput {float:left;margin-left:0;}
#footer .languages {float:none;margin-left:0;}
#sidebar {width:100%;float:none;margin-left:0;margin-bottom:1em;}
#sidebar #searchinput {max-width:100%;margin-left:0;margin-right:auto;}
#sidebar #headline {text-align:left;}
#sidebar #donate {float:none;}
#sidebar .hidy {margin-left:4px;}
#sidebar .cloud {display:none;}
#sidebar .cloud li .btn_index {float:right;margin-left:6px;margin-right:0;}
#summary {border:none;margin:1em 0;padding:0;text-align:left;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
#comments .signature {float:none;}
.bbcodehelp {display:none;}
.right, .left, .vignette {float:none;display:block;margin:1em 0;}
.blogsummarytitle .date {float:none;}
}

@media screen and (max-width:240px) {
.summary {float:none;border:none;margin:1em 0;padding:0;text-align:left;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}	
}
