/**
 *
 * @copyright  2012-2014 izend.org
 * @version    7
 * @link       http://www.izend.org
 */
 
/* antique.css */

a:link, a:visited {color:#ff9900;}
a:hover {color:#a0917f;text-decoration:none;}

body {background-image:url(../../images/bg/antique.png);}

#sitename {color:#ffffff;text-shadow: 1px 2px 3px #a0917f;}
#sitedomain {color:#3c2b17;}
a:hover #sitedomain {color:#ffffff;}

#socialbar a {background-color:#3c2b17;}
             
#footer {color:#333333;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#ffffff;}

#footer .btn_mail {background-position:-120px -88px;}
#footer .btn_login {background-position:-104px -88px;}
#footer .btn_logout {background-position:-152px -88px;}
#footer .btn_account {background-position:-104px -88px;}
#footer .btn_admin {background-position:-136px -88px;}

input.submit {width:100px;height:30px;background-color:#c0bbb9;color:#ffffff;background-image:none;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;cursor:pointer;}
input.submit:hover, input.submit.selected {color:#392e20;}

input.submit[name="fr"] {width:24px;height:24px;display:inline-block;background:transparent url(../../images/theme/flags.png) no-repeat 0 0;vertical-align:middle;text-indent:-9999px;}
input.submit[name="en"] {width:24px;height:24px;display:inline-block;background:transparent url(../../images/theme/flags.png) no-repeat -24px 0;vertical-align:middle;text-indent:-9999px;}

h1,h2,h3 {color:#392e20;}
h4 {color:#c0bbb9;}
h5 {color:#a0917f;}
h6 {color:#c0bbb9;}

.topbar a:link, .topbar a:visited, .topbar span {color:#ffffff;}
.topbar > li {box-shadow:1px 2px 5px #c0bbb9;-webkit-box-shadow:1px 2px 5px #c0bbb9;-moz-box-shadow:1px 2px 5px #c0bbb9;}
.topbar > li {background-color:#c0bbb9;}
.topbar ul li a {background-color:#c0bbb9;}

.date {background:none;}
.date .day {color:#392e20;top:0.6em;}
.date .month {color:#392e20;top:0.6em;}
.date .year {color:#a0917f;top:4.5em;}

.error, .errors, .inerror {color:#ff9900;}

.blogsummarytitle h4 a:link, #homeblog h4 a:visited {color:#a0917f;}
.blogsummarytitle h4 a:hover, .blogsummarytitle .author a:hover {color:#ff9900;}
.blogsummarytitle .author {color:#a0917f;}

.cloud li a:link, .cloud li a:visited {color:#a0917f;}
.cloud li a:hover {color:#ff9900;}

#sidemenu a:link, #sidemenu a:visited {color:#333333;}
#sidemenu a:hover {color:#a0917f;}
