/**
 *
 * @copyright  2014 izend.org
 * @version    2
 * @link       http://www.izend.org
 */
 
/* arte.css */

a:link, a:visited {color:#e15d3e;}
a:hover {color:#202020;text-decoration:none;}

body {background-image:url(../../images/bg/arte.gif);}

#sitename {color:#ffffff;}
#sitedomain {color:#d6d2cf;transition:color 300ms ease-out 0s;}
a:hover #sitedomain {color:#202020;}

#socialbar a {background-color:#d6d2cf;}

#footer {color:#202020;margin-bottom:10px;}
#footer a:link, #footer a:visited {color:#202020;}
#footer a:hover {color:#d6d2cf;}

#footer .btn_mail {background-position:-120px -88px;}
#footer .btn_login {background-position:-104px -88px;}
#footer .btn_logout {background-position:-152px -88px;}
#footer .btn_account {background-position:-104px -88px;}
#footer .btn_admin {background-position:-136px -88px;}

.error, .errors, .inerror {color:#e15d3e;}

.date {background:#d6d2cf;border-radius:2px;-webkit-box-shadow:3px 3px 4px rgba(99,99,99,.8);moz-box-shadow:3px 3px 4px rgba(99,99,99,.8);box-shadow:3px 3px 4px rgba(99,99,99,.8);text-shadow:2px 2px 5px #919191;}
.date .day {top:0.3em;left:-0.3em;color:#666666;}
.date .month {top:5em;color:#666666;}
.date .year {top:2em;left:2em;color:#e15d3e;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);}

.blogsummarytitle h4 a:hover, .blogsummarytitle .author a:hover {color:#e15d3e;}

.cloud li a:link, .cloud li a:visited {color:#202020;}
.cloud li a:hover {color:#e15d3e;}

#comments .author a:hover {color:#e15d3e;}

#sidemenu a:link, #sidemenu a:visited {color:#202020;}
#sidemenu a:hover {color:#202020;}

.jspDrag {background:#d6d2cf;}
