/**
 *
 * @copyright  2013 izend.org
 * @version    1
 * @link       http://www.izend.org
 */
 
/* shelf.css */

body {background-image:url(../../images/bg/boarding.jpg);}

#sitename {color:#ffffff;}
#sitedomain {color:#716569;}
a:hover #sitedomain {color:#ffffff;}

#socialbar a {background-color:#716569;}

#background {background-color:#ffffff;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;box-shadow:1px 2px 5px #cccccc;-webkit-box-shadow:1px 2px 5px #cccccc;-moz-box-shadow:1px 2px 5px #cccccc;}
#content, #footer {background-color:transparent;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}

#footer {color:#333333;margin-bottom:10px;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#333333;}

#footer .btn_mail {background-position:-120px -88px;}
#footer .btn_login {background-position:-104px -88px;}
#footer .btn_logout {background-position:-152px -88px;}
#footer .btn_account {background-position:-104px -88px;}
#footer .btn_admin {background-position:-136px -88px;}

input.submit {width:100px;height:30px;background-color:#716569;color:#ffffff;background-image:none;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;cursor:pointer;}
