/**
 *
 * @copyright  2012-2014 izend.org
 * @version    5
 * @link       http://www.izend.org
 */
 
/* bonbon.css */

body {background-image:url(../../images/bg/bonbon.jpg);}

#sitename {color:#f74018;}
#sitedomain {color:#ffa508;}
a:hover #sitedomain {color:#2885d5;}

#socialbar a {background-color:#9567a7;}

#standard, #editor, #viewer {background-color:#ffffff;border-radius:8px;box-shadow:1px 2px 5px #cccccc;-webkit-box-shadow:1px 2px 5px #cccccc;-moz-box-shadow:1px 2px 5px #cccccc;}
#content, #footer {border-radius:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}

#banner {margin-top:10px;}

#footer {color:#333333;margin-bottom:10px;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#ff9900;}

#footer .btn_mail {background-position:-120px -88px;}
#footer .btn_login {background-position:-104px -88px;}
#footer .btn_logout {background-position:-152px -88px;}
#footer .btn_account {background-position:-104px -88px;}
#footer .btn_admin {background-position:-136px -88px;}

input.submit {width:100px;height:30px;background-color:#2885d5;color:#ffffff;background-image:none;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;cursor:pointer;}
input.submit:hover, input.submit.selected {color:#ffa70c;}
