/**
 *
 * @copyright  2012 izend.org
 * @version    2
 * @link       http://www.izend.org
 */
 
/* chanel.css */

body {background-image:url(../../images/bg/chanel.jpg);}

#sitedomain {color:#666666;}
a:hover #sitedomain {color:#ffffff;}

#socialbar a {background-color:#eca382;}

#footer {color:#333333;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#333333;}

#footer .btn_mail {background:url(../../images/light/small/mail.png) no-repeat;}
#footer .btn_login {background:url(../../images/light/small/user.png) no-repeat;}
#footer .btn_logout {background:url(../../images/light/small/cancel.png) no-repeat;}
#footer .btn_admin {background:url(../../images/light/small/work.png) no-repeat;}

input.submit {width:100px;height:30px;background-color:#eca382;color:#ffffff;background-image:none;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;cursor:pointer;}
