/**
 *
 * @copyright  2012 izend.org
 * @version    1
 * @link       http://www.izend.org
 */
 
/* coffee-bean.css */

body {background-image:url(../../images/bg/coffee-bean.gif);}

a:hover #sitedomain {color:#ffffff;}

#socialbar a {background-color:#6b3900;}

#footer a:hover {color:#ffffff;}

input.submit {width:100px;height:30px;background-color:#6b3900;color:#ffffff;background-image:none;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;cursor:pointer;}
