/**
 *
 * @copyright  2012 izend.org
 * @version    2
 * @link       http://www.izend.org
 */
 
/* dark-square.css */

body {background-image:url(../../images/dinpattern/dark-square.gif);}

input.submit {width:100px;height:30px;background-color:#333333;color:#ffffff;background-image:none;font-family:Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;cursor:pointer;}
