/**
 *
 * @copyright  2012-2014 izend.org
 * @version    4
 * @link       http://www.izend.org
 */
 
/* dollars.css */

body {background-image:url(../../images/bg/dollars.jpg);}

#sitename {color:#666666;}
#sitedomain {color:#b1b696;}
a:hover #sitedomain {color:#666666;}

#socialbar a {background-color:#b1b696;}

#standard, #editor, #viewer {background-color:#ffffff;border-radius:8px;box-shadow:1px 2px 5px #cccccc;-webkit-box-shadow:1px 2px 5px #cccccc;-moz-box-shadow:1px 2px 5px #cccccc;}
#content, #footer {border-radius:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}

#banner {margin-top:10px;}

#footer {color:#333333;margin-bottom:10px;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#ff9900;}

#footer .btn_mail {background-position:-120px -88px;}
#footer .btn_login {background-position:-104px -88px;}
#footer .btn_logout {background-position:-152px -88px;}
#footer .btn_account {background-position:-104px -88px;}
#footer .btn_admin {background-position:-136px -88px;}
