/**
 *
 * @copyright  2013-2014 izend.org
 * @version    6
 * @link       http://www.izend.org
 */
 
/* leaf.css */

body {background:#a3d848 url(leaf/leaf.jpg) no-repeat fixed center top;}

#sitename {color:#ffffff;}
#sitedomain {color:#ffffff;}
a:hover #sitedomain {color:#1f4a0b;}

#socialbar a {background-color:#a3d848;}

#background {background-color:#ffffff;border-radius:8px;box-shadow:1px 2px 5px #cccccc;-webkit-box-shadow:1px 2px 5px #cccccc;-moz-box-shadow:1px 2px 5px #cccccc;}
#content, #footer {background-color:transparent;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}

#footer {color:#333333;margin-bottom:20px;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#ff9900;}

#footer .btn_mail {background-position:-120px -88px;}
#footer .btn_login {background-position:-104px -88px;}
#footer .btn_logout {background-position:-152px -88px;}
#footer .btn_account {background-position:-104px -88px;}
#footer .btn_admin {background-position:-136px -88px;}

input.submit {width:100px;height:30px;background-color:#a3d848;color:#1f4a0b;background-image:none;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;cursor:pointer;}
input.submit:hover, input.submit.selected {color:#ffffff;}

h1,h2,h3 {color:#1f4a0b;}
h4 {color:#a3d848;}
h5 {color:#1f4a0b;}
h6 {color:#333333;}

.topbar a:link, #topbar a:visited {color:#1f4a0b;}
.topbar > li {box-shadow:1px 2px 5px #a3d848;-webkit-box-shadow:1px 2px 5px #a3d848;-moz-box-shadow:1px 2px 5px #a3d848;}
.topbar > li {background-color:#a3d848;}
.topbar ul li a {background-color:#a3d848;}

.date {width:80px;height:80px;background:#a3d848;border-radius:40px;-webkit-border-radius:40px;-moz-border-radius:40px;}
.date span {color:#a0917f;font-weight:bold;}
.date .day {color:#1f4a0b;font-size:24px;top:28px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.date .month {color:#1f4a0b;font-size:18px;top:10px;text-transform:capitalize;}
.date .year {color:#1f4a0b;font-size:12px;top:55px;}

.blogsummarytitle {margin-top:2em;}
.blogsummarytitle .date {margin-top:-1em;}
.blogsummarytitle h4 {margin:1em 0 0.5em 0;}
.blogsummarytitle h4 a:link, #homeblog h4 a:visited {color:#1f4a0b;}
.blogsummarytitle h4 a:hover {color:#ff9900;}
.blogsummarytitle .author {color:#1f4a0b;}

.cloud li a:link, .cloud li a:visited {color:#1f4a0b;}
.cloud li a:hover {color:#ff9900;}
