/**
 *
 * @copyright  2012 izend.org
 * @version    1
 * @link       http://www.izend.org
 */
 
/* longchair.css */

html, body {height:100%;}
body {background-image:url(../../images/bg/longchair.png);margin-top:0;margin-bottom:0;}

#sitename {color:#00a1c7;}
#sitedomain {color:#73bc43;}
a:hover #sitedomain {color:#ff9900;}

#socialbar a {background-color:#73bc43;}

#standard, #editor, #viewer {height:100%;background-color:#ffffff;}

#banner, #content, #footer {background-color:#ffffff;margin:0;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;box-shadow:none;}

#footer {color:#333333;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#ff9900;}

#footer .btn_mail {background-image:url(../../images/light/small/mail.png);}
#footer .btn_login {background-image:url(../../images/light/small/user.png);}
#footer .btn_logout {background-image:url(../../images/light/small/cancel.png);}
#footer .btn_admin {background-image:url(../../images/light/small/work.png);}

input.submit {width:100px;height:30px;background-color:#00a1c7;color:#ffffff;background-image:none;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;cursor:pointer;}
