/**
 *
 * @copyright  2013-2016 izend.org
 * @version    7
 * @link       http://www.izend.org
 */
 
/* mountain.css */

body {color:#333333;background:#cec5b1 url(mountain/grass.jpg) repeat-x bottom fixed;}

#bg {background:url(mountain/glare.png) no-repeat;}

#sitename {color:#ffffff;}
#sitedomain {color:#817151;}
a:hover #sitedomain {color:#ffffff;}

#socialbar a {background-color:#817151;}

#background {background-color:#ffffff;border-radius:8px;box-shadow:1px 2px 5px #cccccc;-webkit-box-shadow:1px 2px 5px #cccccc;}
#content, #footer {background-color:transparent;border-radius:0;-webkit-border-radius:0;box-shadow:none;-webkit-box-shadow:none;}

#editor #background, #viewer #background {margin-bottom:30px;}

#footer {color:#333333;margin-bottom:30px;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#ff9900;}

#footer .btn_mail {background-position:-120px -88px;}
#footer .btn_login {background-position:-104px -88px;}
#footer .btn_logout {background-position:-152px -88px;}
#footer .btn_account {background-position:-104px -88px;}
#footer .btn_admin {background-position:-136px -88px;}

input.submit {width:100px;height:30px;background-color:#cec5b1;color:#ffffff;background-image:none;font-family:Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;cursor:pointer;}
input.submit:hover, input.submit.selected {color:#817151;}

h1,h2,h3 {color:#817151;}
h4 {color:#cec5b1;}
h5 {color:#817151;}
h6 {color:#333333;}

.topbar a:link, .topbar a:visited, .topbar span {color:#ffffff;}
.topbar > li {box-shadow:1px 2px 5px #817151;-webkit-box-shadow:1px 2px 5px #817151;}
.topbar > li {background-color:#817151;}
.topbar ul li a {background-color:#817151;}

.date {width:80px;height:80px;background:#cec5b1;border-radius:40px;-webkit-border-radius:40px;}
.date span {color:#817151;font-weight:bold;}
.date .day {color:#817151;font-size:24px;top:28px;font-family:Arial, sans-serif;}
.date .month {color:#817151;font-size:18px;top:10px;text-transform:capitalize;}
.date .year {color:#817151;font-size:12px;top:55px;}

.blogsummarytitle {margin-top:2em;}
.blogsummarytitle .date {margin-top:-1em;}
.blogsummarytitle h4 {margin:1em 0 0.5em 0;}
.blogsummarytitle h4 a:link, #homeblog h4 a:visited {color:#817151;}
.blogsummarytitle h4 a:hover {color:#ff9900;}
.blogsummarytitle .author {color:#cec5b1;}

.cloud li a:link, .cloud li a:visited {color:#817151;}
.cloud li a:hover {color:#ff9900;}

.error, .errors, .inerror {color:#833311;}

.jspDrag {background:#833311;}

