/**
 *
 * @copyright  2012-2014 izend.org
 * @version    3
 * @link       http://www.izend.org
 */
 
/* orange-seed.css */

body {background-image:url(../../images/bg/orange-seed.jpg);}

#sitename {color:#ffffff;}
#sitedomain {color:#ffffff;}
a:hover #sitedomain {color:#ffffff;}

#socialbar a {background-color:#c86a22;}

#content {padding-bottom:15px;}

#footer {color:#333333;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#ff9900;}

#footer .btn_mail {background-position:-120px -88px;}
#footer .btn_login {background-position:-104px -88px;}
#footer .btn_logout {background-position:-152px -88px;}
#footer .btn_account {background-position:-104px -88px;}
#footer .btn_admin {background-position:-136px -88px;}

#footer {background-color:#ffffff;margin-top:5px;margin-bottom:10px;border-radius:8px;box-shadow:1px 2px 5px #cccccc;-webkit-box-shadow:1px 2px 5px #cccccc;-moz-box-shadow:1px 2px 5px #cccccc;}

input.submit {width:100px;height:30px;background-color:#c86a22;color:#ffffff;background-image:none;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;cursor:pointer;}
