/**
 *
 * @copyright  2013-2014 izend.org
 * @version    3
 * @link       http://www.izend.org
 */
 
/* plank.css */

body {background-image:url(../../images/bg/plank.jpg);}

#sitename {color:#ffffff;}
#sitedomain {color:#333333;}
a:hover #sitedomain {color:#ffffff;}

#socialbar a {background-color:#f2d4b0;}

#footer {color:#333333;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#333333;}

#footer .btn_mail {background-position:-120px -88px;}
#footer .btn_login {background-position:-104px -88px;}
#footer .btn_logout {background-position:-152px -88px;}
#footer .btn_account {background-position:-104px -88px;}
#footer .btn_admin {background-position:-136px -88px;}

input.submit {width:100px;height:30px;background-color:#f2d4b0;color:#ffffff;background-image:none;font-family:Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;cursor:pointer;}
input.submit:hover, input.submit.selected {color:#333333;}
