/**
 *
 * @copyright  2012 izend.org
 * @version    1
 * @link       http://www.izend.org
 */
 
/* renzler.css */

body {background-image:url(../../images/dinpattern/renzler.gif);}

a:hover #sitedomain {color:#da4a2d;}

#socialbar a {background-color:#666666;}

