/**
 *
 * @copyright  2013-2014 izend.org
 * @version    2
 * @link       http://www.izend.org
 */
 
/* sandstone.css */

body {background-image:url(../../images/bg/sandstone.jpg);}

a:hover #sitedomain {color:#ffffff;}

#socialbar a {background-color:#65504a;}

#footer a:hover {color:#ffffff;}

input.submit {width:100px;height:30px;background-color:#65504a;color:#ffffff;background-image:none;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;cursor:pointer;}
