/**
 *
 * @copyright  2012 izend.org
 * @version    1
 * @link       http://www.izend.org
 */
 
/* sky.css */

body {background-image:url(../../images/bg/sky.gif);}

#sitename {color:#ffffff;}
#sitedomain {color:#999999;}
a:hover #sitedomain {color:#ffffff;}

#socialbar a {background-color:#acd2f6;}

#footer {color:#333333;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#333333;}

#footer .btn_mail {background:url(../../images/light/small/mail.png) no-repeat;}
#footer .btn_login {background:url(../../images/light/small/user.png) no-repeat;}
#footer .btn_logout {background:url(../../images/light/small/cancel.png) no-repeat;}
#footer .btn_admin {background:url(../../images/light/small/work.png) no-repeat;}

.submit {width:100px;height:28px;background-color:#acd2f6;color:#666666;background-image:none;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;cursor:pointer;}
