/**
 *
 * @copyright  2012 izend.org
 * @version    1
 * @link       http://www.izend.org
 */
 
/* subtle-wood.css */

body {background-image:url(../../images/dinpattern/subtle-wood.gif);}

#socialbar a {background-color:#3b180c;}

.submit {width:100px;height:28px;background-color:#482315;color:#ffffff;background-image:none;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;cursor:pointer;}
