/**
 *
 * @copyright  2013-2014 izend.org
 * @version    2
 * @link       http://www.izend.org
 */
 
/* typo.css */

body {background-image:url(../../images/bg/typo.jpg);}

a:hover #sitedomain {color:#ffffff;}

#socialbar a {background-color:#00978c;}

#footer {color:#333333;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#ffffff;}

#footer .btn_mail {background-position:-120px -88px;}
#footer .btn_login {background-position:-104px -88px;}
#footer .btn_logout {background-position:-152px -88px;}
#footer .btn_account {background-position:-104px -88px;}
#footer .btn_admin {background-position:-136px -88px;}

input.submit {width:100px;height:30px;background-color:#00978c;color:#ffffff;background-image:none;font-family:Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border:none;border-radius:8px;cursor:pointer;}
