/**
 *
 * @copyright  2012 izend.org
 * @version    2
 * @link       http://www.izend.org
 */
 
/* violet-sky.css */

body {background-image:url(../../images/bg/violet-sky.gif);}

#sitedomain {color:#999999;}

#socialbar a {background-color:#111111;}
