/**
 *
 * @copyright  2013-2014 izend.org
 * @version    6
 * @link       http://www.izend.org
 */
 
/* winter.css */

body {color:#333333;background:#f0f0f0 url(winter/bg.gif) repeat-x;}

#top {width:100%;height:154px;background:url(winter/swirls.png) repeat-x top center;}
#bottom {width:100%;position:relative;}
#trees {width:571px;height:396px;background:url(winter/trees.png) no-repeat left bottom;position:absolute;top:-320px;z-index:-1;}
#forest {width:535px;height:114px;background:url(winter/forest.png) no-repeat left bottom;position:absolute;top:-75px;z-index:-2;}
#grass {width:100%;height:79px;background:url(winter/grass.png) repeat-x left bottom;position:absolute;z-index:-3;}

#background {background-color:#ffffff;border-radius:8px;box-shadow:1px 2px 5px #cccccc;-webkit-box-shadow:1px 2px 5px #cccccc;}
#content, #footer {background-color:transparent;border-radius:0;box-shadow:none;-webkit-box-shadow:none;}

#footer {color:#333333;}
#footer a:link, #footer a:visited {color:#333333;}
#footer a:hover {color:#ff9900;}

#footer .btn_mail {background-position:-120px -88px;}
#footer .btn_login {background-position:-104px -88px;}
#footer .btn_logout {background-position:-152px -88px;}
#footer .btn_account {background-position:-104px -88px;}
#footer .btn_admin {background-position:-136px -88px;}

#sitedomain {color:#333333;}

.error, .errors, .inerror {color:#99cccc;}

input.submit {width:100px;height:30px;background:#cccccc;color:#333333;font-family:Arial, sans-serif;text-indent:0;font-size:14px;font-weight:bold;border-radius:8px;cursor:pointer;}
input.submit {border:1px solid #cccccc;transition: all 0.3s ease-out;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #999999 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #999999 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #999999 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #999999));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #999999 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #999999 100%);
}
input.submit:hover, input.submit.selected {color:#ffffff;}
